.left-bar {
  height: 90%;
  margin: 0 5px;
  width: 40px;
  position: fixed;
  /* background-color: red; */
  bottom: 0;
}
.left-bar__list::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: aquamarine;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #0a192f;
}
.left-bar__icon {
  width: 20px;
  height: 20px;
  padding: 20px;
  color: #a8b2d1;
  transition: all 0.2s;
  /* background-color: red; */
}

.left-bar__icon:hover {
  color: aquamarine;
  padding-right: 1px;
}
.left-bar__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #a8b2d1;
  /* background-color: currentColor; */
}

.left-bar__link {
  padding: 10px;
  /* background-color: BLUE; */
  position: relative;
  display: inline-block;
  /* background-color: red; */
}

.right-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #a8b2d1;
  /* background-color: aqua;    */
  height: 87%;
  width: 40px;
  margin: 0 6px;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.email-link {
  writing-mode: vertical-lr;
  margin: 20px auto;
  letter-spacing: 0.1rem;
  line-height: 18px;
  padding: 10px;
  text-decoration: none;
  color: #a8b2d1;
  transition: all 0.2s;
}

.email-link:hover {
  color: aquamarine;
  padding-left: 1px;
}

.email::after {
  content: "";
  width: 1px;
  flex-grow: 1;
  bottom: 0;
  height: 41vh;
  background-color: aquamarine;
  margin: 0px auto;
  display: block;
}

header {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: #0a192f;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  
  border-bottom: 1px solid rgb(5, 83, 107);
}

.header {
  padding: 10px 5px;
  /* background-color: green; */
  position: relative;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  /* justify-content: space-between; */
  width: 30%;
  color: #a8b2d1;

  list-style: none;
  /* background-color: red; */
  padding: 0;
  margin: 0;
  align-self: stretch;
  align-items: center;
}

.header__list-item {
  transition: all 0.2s;
}

.header__list-item a {
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.header__list-item:hover {
  color: aquamarine;
  transform: translateY(-2px);
}

.header__list-item:not(:last-child) {
  margin: 0 15px;
  position: relative;
  font-size: 17px;
}

.header__list-item:last-child {
  margin-right: 12px;
}
.logo {
  /* background-color: red; */
  align-self: stretch;

  height: 42px;
  width: 42px;
}

.logo-icon {
  /* margin: 2px 4px; */
}
