.left-bar {
  height: 90%;
  margin: 0 5px;
  left: 10px;
  width: 40px;
  z-index: 5;
  position: fixed;
  /* background-color: red; */
  transition: all 0.2s;

  bottom: 0;
}
.hi {
  color: aquamarine;
  padding: 5px;
  margin-right: auto;
  margin-bottom: 1px;
  margin-top: 32px;
}

.left-bar__list::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: aquamarine;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  background-color: #0a192f;
}
.left-bar__icon {
  width: 20px;
  height: 20px;
  padding: 20px;
  color: #a8b2d1;
  /* background-color: red; */
}

.left-bar__icon:hover {
  color: aquamarine;
}

.left-bar__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #a8b2d1;
  /* background-color: currentColor; */
}
.left-bar__list li {
}

.left-bar__link {
  padding: 10px;
  margin-right: 5px;
  position: relative;
  display: inline-block;
  left: 0px;
  color: azure;
  transition: all 0.2s;
  border-radius: 5px;
}
.left-bar__link:hover {
  color: aquamarine;
  left: 5px;
}

.left-bar__link:active {
  background-color: rgb(42, 94, 76);
}
.right-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #a8b2d1;
  /* background-color: aqua;    */
  height: 87%;
  width: 40px;
  margin: 0 5px;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
}

.email-link {
  writing-mode: vertical-lr;
  margin: 20px auto;
  letter-spacing: 0.1rem;
  line-height: 18px;
  padding: 10px;
  text-decoration: none;
  color: #a8b2d1;
  transition: all 0.2s;
}

.email-link:hover {
  color: aquamarine;
  padding-left: 1px;
}

.email::after {
  content: "";
  width: 1px;
  flex-grow: 1;
  bottom: 0;
  height: 41vh;
  background-color: aquamarine;
  margin: 0px auto;
  display: block;
}

header {
  padding: 0 15px;
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: #0a192f;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid rgb(5, 83, 107);
}

.header {
  padding: 10px 5px;
  /* background-color: green; */
  position: relative;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  /* justify-content: space-between; */
  width: 21%;
  color: #a8b2d1;
  list-style: none;
  /* background-color: red; */
  padding: 0;
  margin: 0;
  width: 100%;
  align-self: stretch;

  align-items: center;
  justify-content: flex-end;
}

.header__list-item {
  transition: all 0.2s;
  padding: 5px;
}

.header__list-item a {
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.header__list-item:hover {
  color: aquamarine;
  transform: translateY(-2px);
}

.header__list-item:last-child {
  margin-right: 12px;
}
.logo {
  /* background-color: red; */
  align-self: stretch;
  margin-left: 10px;
  height: 42px;
  width: 42px;
}

.logo-icon {
  /* margin: 2px 4px; */
}

main {
  padding: 0 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.intro {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  align-self: stretch;
  margin-bottom: 20px;
  
  /* background-color: red; */
}

.intro__name {
  color: #ccd6f6;
  font-weight: 600;
  line-height: 1.1;
  font-size: clamp(40px, 8vw, 80px);
}
.h1div {
  margin-right: auto;
}
.h2div {
  /* align-self: stretch; */

  margin-right: auto;
}
.pdiv {
  width: 50%;

  margin-right: auto;
  /* align-self: flex-start; */
}
.link {
  margin-top: 10px;
  transition: all 1s;
  margin-right: auto;
  padding: 10px 15px;
  transition: all 1s ease-in-out;
  border: 1px solid aquamarine;
  /* background-color: red; */
}
.intro__email-link {
  text-decoration: none;
  height: 100%;
  width: 100%;
  background-color: #0a192f;

  color: aquamarine;
}

.link:hover {
  border: 1px dotted aqua;
}

.intro__p {
  margin: 20px 0;
  line-height: 22px;
  font-size: 18px;
  color: rgb(183, 202, 202);
}

h2 {
  line-height: 0.9;
  color: #8892b0;
}

#about {
  padding: 12px 2px;
  /* opacity: 1;
  transform: translateZ(0);
  
animation: moveinright 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s ; */
  /* transition: opacity 0.5s  0.2s ; */
}

.work {
  align-self: stretch;
  padding: 12px 2px;
}
.about_me {
  display: flex;
  align-items: center;
}
.text_line {
  background-color: rgb(43, 85, 71);
  margin-left: 1rem;
  height: 1px;
  width: 222px;
  margin-top: 5px;
}
.about_image {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-bottom: 22px;
}

.inner {
  color: #8892b0;
  margin-block-start: 1rem;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-right: 50px;
  margin: 0px 15px 0px 0px;
  /* background-color: red; */
}

.line {
  height: 1px;
  margin: 22px 0;
  align-self: stretch;
  background-color: rgb(107, 138, 127);
}

.image {
  position: relative;
  box-shadow: 2px 5px 14px 4px rgba(0, 0, 0, 0.5);
}

.image::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20px;
  left: 20px;
  border: 2px solid aquamarine;
  z-index: -1;
  border-radius: 5px;
}

.profileimage {
  width: 100%;
  height: 100%;
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.something {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.projects_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.project-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  /* background-color: red; */
  padding: 14px 2px;
  /* background-color: red; */
}
.project_list-item {
  background-color: rgb(2, 2, 19);
  display: flex;
  padding: 15px 12px;
  box-shadow: 2px 5px 12px 6px rgba(0, 0, 0, 0.5);
  margin-top: 12px;
  margin-left: -55px;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}

.project_list-item-right {
  background-color: rgb(2, 2, 19);
  display: flex;
  padding: 15px 12px;
  box-shadow: 2px 5px 12px 6px rgba(0, 0, 0, 0.5);
  margin-top: 12px;
  margin-left: -55px;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}
.project-content-right {
  z-index: 6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: red; */
  padding: 14px 2px;
}

.project-content p {
  color: aqua;
  padding: 0 4px;
  margin-right: 5px;
}
.project-content h2 {
  margin-bottom: 15px;
  padding: 12px 4px;

  /* background-color: blue; */
}

.project_description {
  color: #8892b0;
  padding: 15px 24px;
  z-index: 2;
  /* margin-left: 50px; */
  padding-right: 50px;
  background-color: #112240;
  box-shadow: 2px 7px 15px 7px rgba(0, 0, 0, 0.5);
}
.project_image {
}

.project__image {
  height: 300px;
  width: 450px;
  border-radius: 5px;
  background-color: rgb(37, 136, 103);
  position: relative;
  left: 20px;
}

.project-content-right p {
  color: aqua;
  padding: 0 4px;
  margin-left: 5px;
}
.project-content-right h2 {
  margin-bottom: 15px;
  padding: 12px 4px;
}

.project_description-right {
  color: #8892b0;
  padding: 15px 24px;

  /* z-index: 5; */
  padding-right: 50px;

  margin-right: -10px;
  background-color: #112240;
  box-shadow: 2px 7px 15px 7px rgba(0, 0, 0, 0.5);
}
.project_image-right {
  /* grid-column: 6/-1; */
  /* z-index: 1;1 */
}

.project__image-right {
  height: 300px;
  width: 450px;
  border-radius: 5px;
  background-color: rgb(37, 136, 103);
  position: relative;
  right: 20px;
  /* z-index: 2; */
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whatnext {
  color: aquamarine;
}

.contact h2 {
  color: rgba(255, 255, 255, 0.671);
}
.message {
  color: #8892b0;

  padding: 2px 12px;
  width: 50%;
  text-align: center;
}

.hello {
  text-decoration: none;
  padding: 10px 25px;
  color: aqua;
  margin-top: 12px;
  margin-bottom: 5px;
  border: 1px solid aquamarine;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  padding: 15px;
  min-height: 70px;
  margin-top: 20px;
  color: azure;
}

.footer-line {
  margin-top: 40px;
  height: 1px;
  width: 90vw;

  background-color: rgb(57, 65, 63);
}

.project_links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.project_links a {
  text-decoration: none;
}

.external {
  width: 20px;
  height: 20px;
  margin-top: 8px;
  color: #a8b2d1;

  margin-right: 5px;
  padding: 5px;
}

@keyframes moveinright {
  0% {
    opacity: 0.1;
    transform: translateX(100px);
  }

  50% {
    opacity: 0.5;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.education {
  box-shadow: 2px 7px 12px 7px rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 15px 10px;
  background-color: rgb(2, 2, 19);
  align-self: stretch;
}

.education_button {
  border: 1px solid aquamarine;
  text-decoration: none;
  color: aquamarine;
  padding: 15px 10px;
  margin-left: 12px;
  transition: all 1s ease-in-out;
}

.education_button:hover {
  background-color: aquamarine;
  color: #191f31;
}

.education_button:active {
  color: #191f31;
  border: 1px dotted aquamarine;
}

.education_content {
  display: flex;
  align-items: center;
}

.education_details {
  color: #a8b2d1;
  padding: 10px 15px;
  margin-left: 12px;
}

.education_list {
  list-style: none;
}
.education_list h2 {
  text-decoration: underline;
}

.education_list-item {
  padding: 10px 5px;
}

.skills_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.skills_list-item {
  flex: 0 0 50%;
}

.skills_list-icon {
  height: 10px;
  width: 10px;
  margin-right: 7px;
  fill: aquamarine;
}

.navigation {
  display: none;
}

.navigation_checkbox {
  display: none;
}

.navigation_button {
}

.navigation_icon {
}

.navigation_nav {
}

.navigation_list {
}

.navigation_item {
}

@media screen and (max-width: 500px) {
  .left-bar,
  .right-bar {
    display: none;
  }
  .header {
    width: 100%;
    height: 90%;
  }
  .header__list {
    width: 100%;
    height: 100%;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
  }
  .navigation {
    /* display: block; */
  }
  .logo {
    display: none;
  }
  main {
    padding: 0 20px;
  }

  .intro {
    justify-content: flex-start;

    align-self: stretch;
  }
  .skills_list {
    padding-left: 1px;
  }
  .skills_list-icon {
    margin-left: 0px;
  }
  .about_me{
    flex-direction: column;
  }
  .inner{
    padding:22px 5px;
    margin-bottom: 10px;
  }
  .about_image{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .project_list-item{
flex-direction: column;
  }
  .project_list-item-right{
flex-direction: column-reverse;
margin-top: 25px;;
  }
  .project__image{
    left:0;
    height:200px;
    width:300px;

  }

  .project__image-right{
    left:0;
    bottom:15px;
    top:5px;
right:0;
height:200px;
width:300px;

  }
  .project-content p{
    margin-top: 25px;
  }
.project-content-right p {
  color: aqua;
  margin-top:25px;
  padding: 2px 1px;
  margin-right: 1px;
}


}
